/* header{
  background:linear-gradient(rgba(0, 0, 0, 0.644) , rgba(0, 0, 0, 0.527)) , url(../images/banner2.jpg);
  height: initial;
}
.fa.fa-bars{
   color: white;
}
ul li a{
  color: white;
} */
.hea{
    background:linear-gradient(rgba(255, 0, 0, 0.027) , rgba(255, 0, 0, 0.11)) , url(../images/bg-banner-3.jpg)
  }
  .myBtn3{
      background-color: blue !important;
      color: white !important;
      font-family: DS_Mysticora;
  }
  .myBtn3:hover{
      background-color: transparent !important;
      border: 12px solid red;
      color: white !important;
      font-family: DS_Mysticora;
  }
  
  @media screen and (min-width : 1500px)
  {
    .hea{
      height: 70vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  .btn .mbr-iconfont, .btn.btn-sm .mbr-iconfont {
    cursor: pointer;
    margin-right: 0.5rem;}

  
  .btn.btn-md .mbr-iconfont, .btn.btn-md .mbr-iconfont {
    margin-right: 0.8rem; }
 @media screen and (min-width : 1200px){
     .ourContainer{
         margin-top: 20px;
     }
     .cont{
         padding-top: 90px;
     }
 }   